@import "~assets/sass/required.scss";

.dark:after {
    background: rgba(33,33,33,.8);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}
.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    &__middle {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 4;
        .container {
            .caption {
                margin-top: 50px;
                display: grid;
                grid-template-columns: 85% 15%;
                @include media($mobile) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .image {
                        order: 1;
                    }
                    .title {
                        order: 2;
                    }
                }
                .title {
                    display: grid;
                    justify-content: center;
                    h1 {
                        margin: auto;
                        color: #fff;
                        font-size: 50px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                    h2 {
                        margin: auto;
                        color: #eee;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.2;
                        margin-bottom: 20px;
                    }
                }
                img {
                    display: grid;
                    width: 150px;
                    height: 150px;
                    background: 0 0;
                    margin-bottom: 20px;
                    justify-content: start; 
                }
                .rounded-image {
                    display: grid;
                    border-radius: 10%!important;
                    background-color: lightseagreen;
                    justify-content: start; 
                }
                .img-thumbnail {
                    display: grid;
                    padding: .25rem;
                    background-color: #fff;
                    border: 1px solid #dee2e6;
                    border-radius: .25rem;
                    justify-content: start; 
                }
                @include media($mobile) {
                    h1 {
                        text-align: center;
                    }
                }
            }
        }
    }
}