.dark:after {
    background: rgba(33,33,33,.8);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}
.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    &__middle {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 9;
        .container {
            .caption {
                margin-top: 50px;
                display: grid;
                h1 {
                    margin: auto;
                    color: #fff;
                    font-size: 50px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                h2 {
                    margin: auto;
                    color: #eee;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 20px;
                }
            }
        }
    }
}