$brandDark: #00674F;
$brand: #019875;
$brandLight: #B0E1D2;

$yellow: #FFE121;
$orange: #FE8125;
$red: #FF5F42;
$blue: #0AAFFF;

$basicText: #393B46;
$basicOne: #393B46;
$basicTwo: #4B5169;
$basicThree: #747A93;
$basicFour: #B4BAD2;
$basicFive: #B4BAD2;

$border: #e0e0e0;

// COLORS
$primary: #19be8d;
$dark: #333;
$darker: #444;
$white: #ffffff;
$text: #424242;
$error: #ff0000;
$black: #000;
$green: #00674F;
$darkGray: #eaeced;
$darkBlue: #001e31;
$lightBlue: #e9eef5;
$lightPink: #f5e9e9;
$blue: #02a9f4;
$socialIcon: #374A61;

$agencyLight: #f5e9e9;
$agencyDark: #e9eef5;

// FONTS
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$fontDiplay: "HelveticaNowDisplay";
$fontMicro: "HelveticaNowMicro";

$light: 300;
$bold: bold;
$semibold: 600;
$medium: 500;
$regular: normal;

$colors: (
  disabled: #ccc,
  enabled: #000,
  pending: #0076ff,
  draft: #fd875c,
  published: #44db5e,
  deleted: #523,
  confirmed: #532
);

$mobile: xs;
