.about {
    overflow: hidden;
}
.container {
    margin-top: 50px;
    .section-head {
        h3 {
            font-size: 30px;
            font-weight: 600;
        }
    } 
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }  
}
