@import "~assets/sass/required.scss";

.footer {
  &__top {
    padding: 20px 0 15px 0;
    @include flex(row, flex-start, center, wrap);
  }
  &__bottom {
      @include flex(row, flex-start, center, wrap);
      padding: 15px 0 30px 0;
      border-top: 1px solid rgba(0,0,0,0.1);
  }
  &__logo {
    width: 80px;
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  &__copyright {
      @include fontSize(12);
      line-height: 1.3;
      color: $darkBlue;
      padding-left: 15px;
  }
  &__links {
    @include flex(row, flex-start, center);
    &__right {
      margin-left: auto;
      @include media(xs){ 
        width: 100%;
        padding-top: 15px;
      }
    }
    a {
      display: table;
      color: $darkBlue;
      @include fontSize(13);
      text-decoration: none;
      margin-right: 18px;
      &:hover {
        color: $primary;
      }
    }
  }
  &__socials {
    @include flex(row, flex-start, center);
    margin-left: auto;
    @include media(xs){ 
      width: 100%;
      padding-top: 15px;
    }
    a {
      color: $darkBlue;
      @include fontSize(20);
      margin-left: 20px;
      @include media(xs){ 
      margin-left: 0;
       margin-right: 20px;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
