@import "~assets/sass/required.scss";

#work-experience {
    background-color: #f5f5f5;
    .container {
        .header {
            text-align: center;
    }
    .experience {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        text-align: center;
        justify-self: center;
        margin-top: 5%;
        width: 100%;
        .test {
            background-color: $white;
        }

    }
    }
}
